$blue-1: rgb(3, 27, 238);
$blue-2: rgb(3, 40, 124);
$yel-1: rgb(255, 191, 24);
$yel-2: rgb(255, 210, 31);
$melon: rgb(247, 178, 177);
$sea-blue: rgb(56, 207, 186);
$white-col: #ffffff;
$black-col: #000;
$grey-col: #777877;
$light-grey: #ccc;
$dark-violet: #100425;
$light-melon: rgb(255, 236, 236);
$valid-green: rgb(16, 184, 16);
$invalid-red: rgb(238, 40, 40);

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
