@import "variables";
@import "animations";
@import "sections/lander";
@import "sections/about";
@import "sections/contact";
@import "sections/form";
@import "sections/footer";
@import "sections/application";
@import "sections/modal";
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	scroll-behavior: smooth;
	scrollbar-width: none;
	@media only screen and (max-width: $bp-large) {
		font-size: 50%;
	}
}
::-webkit-scrollbar {
	display: none;
}

.section {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 1s, transform 1s;
}
.section--hidden {
	opacity: 0;
	transform: translateY(11rem);
}
