.about {
	margin: 12rem 0;
	display: flex;
	overflow-x: hidden;
	flex-direction: row;
	justify-content: space-around;
	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
		flex-grow: 1;
	}
	@media only screen and (max-width: $bp-small) {
		margin: 4.5rem;
	}
	padding: 4rem;
	position: relative;
	&__left {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		margin-right: 2rem;
		.about__photo {
			font-size: 7rem;
			margin-right: 1rem;

			color: $light-grey;
			@media only screen and (max-width: $bp-medium) {
				font-size: 5rem;
			}
		}
		.about__name {
			font-size: 3.5rem;
			letter-spacing: 3px;
			color: $blue-2;
		}
		.about__banner {
			height: 25rem;
			width: 25rem;
			outline: 10px solid $sea-blue;
			box-shadow: 0 1rem 1.2rem rgba($black-col, 0.7);
			outline-offset: 2rem;
			transition: all 0.3s;
			border-radius: 3px;
			object-fit: cover;
			opacity: 0.7;
			margin: 3rem 0;
			z-index: 2;
			@media only screen and (max-width: $bp-medium) {
				margin-bottom: 6rem;
			}
			@media (hover: hover) {
				&:hover {
					outline-offset: 3.5rem;
					transform: scale(1.05);
					box-shadow: 0 2rem 2.5rem rgba($black-col, 0.45);
				}
			}
		}
		.about__detail {
			display: flex;
			justify-content: space-around;
			align-items: center;
			align-self: flex-start;
		}
		@media only screen and (max-width: $bp-medium) {
			margin-bottom: 5rem;
		}
	}
	&__right {
		max-width: 45rem;
		font-size: 2.2rem;
		color: $grey-col;
	}
	&__back {
		position: absolute;
		font-size: 15rem;
		display: inline-block;
		opacity: 0.075;
		font-weight: 700;
		top: 45%;
		left: 57%;
		transform: translate(-50%, -50%) rotate(-20deg);
		@media only screen and (max-width: $bp-small) {
			font-size: 13rem;
			opacity: 0.1;
		}
		@media only screen and (max-width: $bp-medium) and (min-width: $bp-small) {
			left: 65%;
			opacity: 0.1;
		}
	}
}
