.app {
<<<<<<< HEAD
	margin: 6rem 15rem;
=======
	margin: 10rem 15rem;
>>>>>>> 27507be69238e8f838c75eb5796093e1796f843e
	padding: 10rem 0;
	font-family: "Lato", sans-serif;
	background-color: $white-col;
	box-shadow: 0 2rem 3rem rgba($black-col, 0.4);
	@media only screen and (max-width: $bp-medium) {
		margin: 10rem 5rem;
	}
	&__header {
		font-size: 3rem;
		color: $dark-violet;
		text-align: center;
		margin-bottom: 10rem;
	}
	&__details {
		list-style: none;
		padding: 0 20rem;
		display: flex;
		color: $black-col;
		flex-direction: column;
		@media only screen and (max-width: $bp-large) {
			padding: 0 5rem;
		}
	}
	&__item {
		display: flex;
		margin-bottom: 3.5rem;
		justify-content: space-between;
		font-size: 2rem;
		.name {
			margin-right: 6rem;
		}
		@media only screen and (max-width: $bp-medium) {
<<<<<<< HEAD
			margin-bottom: 2rem;
			padding-bottom: 2rem;
			flex-direction: row;
			border-bottom: 2px solid $sea-blue;
		}
		@media only screen and (max-width: $bp-small) {
			flex-direction: column;
		}
=======
			flex-direction: column;
			margin-bottom: 2rem;
			padding-bottom: 2rem;
			border-bottom: 2px solid $sea-blue;
		}
>>>>>>> 27507be69238e8f838c75eb5796093e1796f843e
	}
}
section.application {
	display: none;
	background-color: $light-melon;
	width: 100vw;
	padding: 5rem 0;
<<<<<<< HEAD
	min-height: 70vh;
=======
	min-height: 75vh;
>>>>>>> 27507be69238e8f838c75eb5796093e1796f843e
}
