.app {
	margin: 6rem 15rem;
	padding: 10rem 0;
	font-family: "Lato", sans-serif;
	background-color: $white-col;
	box-shadow: 0 2rem 3rem rgba($black-col, 0.4);
	@media only screen and (max-width: $bp-medium) {
		margin: 10rem 5rem;
	}
	@media only screen and (max-width: $bp-small) {
		padding: 8rem 2rem;
		margin: 8rem 3rem;
	}
	&__header {
		font-size: 3rem;
		color: $dark-violet;
		text-align: center;
		margin-bottom: 10rem;
		@media only screen and (max-width: $bp-small) {
			font-size: 2rem;
			margin-bottom: 6rem;
			padding: 0 3rem;
		}
	}
	&__details {
		list-style: none;
		padding: 0 20rem;
		display: flex;
		color: $black-col;
		flex-direction: column;
		@media only screen and (max-width: $bp-largest) {
			padding: 0 15rem;
		}
		@media only screen and (max-width: $bp-large) {
			padding: 0 5rem;
		}
	}
	&__item {
		display: flex;
		margin-bottom: 3.5rem;
		justify-content: space-between;
		font-size: 2rem;
		.name {
			margin-right: 6rem;
			@media only screen and (max-width: $bp-small) {
				margin-bottom: 1.5rem;
				font-weight: 700;
			}
		}
		.value {
			@media only screen and (max-width: $bp-small) {
				font-weight: 400;
			}
		}
		@media only screen and (max-width: $bp-medium) {
			margin-bottom: 2rem;
			padding-bottom: 3.333rem;
			flex-direction: row;
			border-bottom: 2px solid $sea-blue;
		}
		@media only screen and (max-width: $bp-small) {
			flex-direction: column;
		}
	}
}
section.application {
	display: none;
	background-color: $light-melon;
	width: 100vw;
	padding: 5rem 0;
	min-height: 70vh;
}
