@import "../variables";

.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 4rem 0;
	background-color: rgba($light-grey, 0.15);
	margin: 7rem 0;
	&__heading {
		font-size: 10rem;
		text-transform: uppercase;
		background-image: linear-gradient(
			150deg,
			$blue-1 0%,
			$blue-1 50%,
			$yel-1 50%
		);
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		letter-spacing: 3px;
		margin-bottom: 5rem;
		text-align: center;
	}
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;
	}
	&__card {
		border-radius: 5px;
		overflow: hidden;
		margin: 2rem;
		display: flex;
		position: relative;
		box-shadow: 0 1.5rem 2rem rgba($black-col, 0.35);
		// background-color: $melon;
		flex-direction: column;
		transition: all 0.3s ease;
		align-items: center;
		&-img {
			height: 20rem;
			opacity: 0.3;
			width: 30rem;
			transition: all 0.5s ease-in;
			object-fit: cover;
			background-blend-mode: hard-light;
		}
		&--1 {
			background-image: linear-gradient(
				to right,
				rgba($yel-1, 0.85),
				rgba($yel-1, 0.3)
			);
		}
		&--2 {
			background-image: linear-gradient(
				to right,
				rgba($melon, 0.85),
				rgba($melon, 0.3)
			);
		}
		&--3 {
			background-image: linear-gradient(
				to right,
				rgba($sea-blue, 0.85),
				rgba($sea-blue, 0.3)
			);
		}
		&:hover {
			transform: scale(0.97);
			box-shadow: 0 0.3rem 0.4rem rgba($black-col, 0.35);
		}
		&:hover &-img {
			opacity: 0.8;
		}
		&-logo {
			height: 2rem;
			width: auto;
			transform: translateX(-2rem);
			color: $blue-1;
		}
		&-info {
			list-style: none;
			background-color: $white-col;
			padding-top: 3rem;
			min-height: 25rem;
			text-align: center;
			align-self: stretch;
			&-item {
				border-bottom: 1px solid $light-grey;
				padding: 1.5rem 0;
				font-size: 1.7rem;
				color: $grey-col;
			}
		}
		&-title {
			font-size: 2.2rem;
			position: absolute;
			top: 45%;
			left: 50%;
			// min-width: 13rem;
			transform: translate(-50%, -50%) rotate(-7deg);

			text-transform: uppercase;
			padding: 1rem 1.5rem;
			color: $white-col;
			transition: transform 0.15s;
			background-image: linear-gradient(to bottom, $melon, $sea-blue);
		}
	}
}
