.lander {
  background-image: linear-gradient(to right, #091edf, #052e8f);
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 100vh;
  border-bottom-left-radius: 370px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -1.5rem 3rem rgba(0, 0, 0, 0.6) inset, 0 1.5rem 2rem rgba(0, 0, 0, 0.8); }

.nav {
  padding: 1rem 0; }
  .nav__list {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-start; }
    .nav__list--link {
      text-decoration: none;
      font-family: inherit;
      color: inherit; }
  .nav__list-item {
    letter-spacing: 3px;
    margin-left: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    padding: 2rem 1.5rem;
    border: 3px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease-in; }
    .nav__list-item--1 {
      font-size: 2rem;
      padding-bottom: 1rem;
      border-bottom: 3px solid #fff; }
    .nav__list-item:hover {
      border: 3px solid #ffbf18;
      color: #ffbf18; }
    .nav__list-item:active {
      color: #091edf;
      background-color: #ffbf18;
      border: 2px solid #ffbf18; }

.lander__content {
  align-self: center;
  margin-top: 25vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 4rem; }

.lander__title {
  color: #fff;
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }

.lander__plus {
  background-color: #fff;
  border-radius: 50px;
  color: #000;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  display: flex;
  animation-fill-mode: both;
  justify-content: center;
  align-items: center;
  transition: all 0.2s; }
  .lander__plus a {
    text-decoration: none;
    font-family: inherit;
    color: inherit; }
  .lander__plus--icon {
    margin-left: 2rem;
    font-size: 3rem;
    color: #052e8f; }
  .lander__plus:hover {
    background-color: #ffd21f;
    color: #000;
    transform: translateY(-0.4rem); }
  .lander__plus:hover .lander__plus--icon {
    color: #000;
    animation: shake 0.4s; }
  .lander__plus:focus {
    outline: none;
    transform: translateY(-0.1rem); }

@keyframes shake {
  0% {
    color: #000; }
  15% {
    transform: rotate(-15deg) translateY(-0.2rem); }
  45% {
    transform: rotate(-30deg) translateY(-0.4rem); }
  60% {
    transform: rotate(0deg) translateY(-0.5rem); }
  85% {
    transform: rotate(30deg) translateY(-0.25rem); }
  100% {
    transform: rotate(0deg) translateY(0); } }

.about {
  margin: 12rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4rem;
  position: relative; }
  .about__left {
    display: flex;
    flex-direction: column; }
    .about__left .about__photo {
      font-size: 25rem;
      color: #ccc; }
    .about__left .about__name {
      font-size: 5rem;
      letter-spacing: 3px;
      color: #052e8f; }
  .about__right {
    max-width: 45rem;
    font-size: 2.2rem;
    color: #777; }
  .about__back {
    position: absolute;
    font-size: 15rem;
    display: inline-block;
    opacity: 0.075;
    font-weight: 700;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%) rotate(-20deg); }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;
  background-color: rgba(204, 204, 204, 0.15);
  margin: 7rem 0; }
  .contact__heading {
    font-size: 10rem;
    text-transform: uppercase;
    background-image: linear-gradient(150deg, #091edf 0%, #091edf 50%, #ffbf18 50%);
    color: transparent;
    background-clip: text;
    letter-spacing: 3px;
    margin-bottom: 5rem;
    text-align: center; }
  .contact__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; }
  .contact__card {
    border-radius: 5px;
    overflow: hidden;
    margin: 2rem;
    display: flex;
    position: relative;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.35);
    flex-direction: column;
    transition: all 0.3s ease;
    align-items: center; }
    .contact__card-img {
      height: 20rem;
      opacity: 0.3;
      width: 30rem;
      transition: all 0.5s ease-in;
      object-fit: cover;
      background-blend-mode: hard-light; }
    .contact__card--1 {
      background-image: linear-gradient(to right, rgba(255, 191, 24, 0.85), rgba(255, 191, 24, 0.3)); }
    .contact__card--2 {
      background-image: linear-gradient(to right, rgba(247, 178, 177, 0.85), rgba(247, 178, 177, 0.3)); }
    .contact__card--3 {
      background-image: linear-gradient(to right, rgba(56, 207, 186, 0.85), rgba(56, 207, 186, 0.3)); }
    .contact__card:hover {
      transform: scale(0.97);
      box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.35); }
    .contact__card:hover .contact__card-img {
      opacity: 0.8; }
    .contact__card-logo {
      height: 2rem;
      width: auto;
      transform: translateX(-2rem);
      color: #091edf; }
    .contact__card-info {
      list-style: none;
      background-color: #fff;
      padding-top: 3rem;
      min-height: 25rem;
      text-align: center;
      align-self: stretch; }
      .contact__card-info-item {
        border-bottom: 1px solid #ccc;
        padding: 1.5rem 0;
        font-size: 1.7rem;
        color: #777; }
    .contact__card-title {
      font-size: 2.2rem;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-7deg);
      text-transform: uppercase;
      padding: 1rem 1.5rem;
      color: #fff;
      transition: transform 0.15s;
      background-image: linear-gradient(to bottom, #f7b2b1, #38cfba); }

.footer {
  padding: 7rem;
  background-color: #10002b;
  display: flex;
  flex-direction: column; }
  .footer__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    font-size: 1.7rem;
    padding: 7rem 0;
    border-bottom: 2px solid #f7b2b1; }
  .footer__item {
    color: #f7b2b1;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out; }
    .footer__item:hover {
      background-color: #f7b2b1;
      color: #10002b;
      transform: rotate(-7deg); }
  .footer__copy {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 5rem;
    text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none; }

::-webkit-scrollbar {
  display: none; }
