@-webkit-keyframes shake {
  0% {
    color: #000; }
  7% {
    -webkit-transform: rotate(-15deg) translateY(-0.2rem);
            transform: rotate(-15deg) translateY(-0.2rem); }
  22% {
    -webkit-transform: rotate(-30deg) translateY(-0.4rem);
            transform: rotate(-30deg) translateY(-0.4rem); }
  30% {
    -webkit-transform: rotate(0deg) translateY(-0.5rem);
            transform: rotate(0deg) translateY(-0.5rem); }
  42% {
    -webkit-transform: rotate(30deg) translateY(-0.25rem);
            transform: rotate(30deg) translateY(-0.25rem); }
  50% {
    -webkit-transform: rotate(0deg) translateY(0);
            transform: rotate(0deg) translateY(0); }
  100% {
    -webkit-transform: rotate(0deg) translateY(0);
            transform: rotate(0deg) translateY(0); } }

@keyframes shake {
  0% {
    color: #000; }
  7% {
    -webkit-transform: rotate(-15deg) translateY(-0.2rem);
            transform: rotate(-15deg) translateY(-0.2rem); }
  22% {
    -webkit-transform: rotate(-30deg) translateY(-0.4rem);
            transform: rotate(-30deg) translateY(-0.4rem); }
  30% {
    -webkit-transform: rotate(0deg) translateY(-0.5rem);
            transform: rotate(0deg) translateY(-0.5rem); }
  42% {
    -webkit-transform: rotate(30deg) translateY(-0.25rem);
            transform: rotate(30deg) translateY(-0.25rem); }
  50% {
    -webkit-transform: rotate(0deg) translateY(0);
            transform: rotate(0deg) translateY(0); }
  100% {
    -webkit-transform: rotate(0deg) translateY(0);
            transform: rotate(0deg) translateY(0); } }

.lander {
  background-image: -webkit-gradient(linear, left top, right top, from(#091edf), to(#052e8f));
  background-image: linear-gradient(to right, #091edf, #052e8f);
  background-size: cover;
  min-height: 100vh;
  border-bottom-left-radius: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 -1.5rem 3rem rgba(0, 0, 0, 0.6) inset, 0 1.5rem 2rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 -1.5rem 3rem rgba(0, 0, 0, 0.6) inset, 0 1.5rem 2rem rgba(0, 0, 0, 0.8); }
  @media only screen and (max-width: 50em) {
    .lander {
      border-bottom-left-radius: 270px; } }
  @media (orientation: portrait) and (hover: none) {
    .lander {
      border-bottom-left-radius: 400px; } }
  @media (orientation: landscape) and (hover: none) {
    .lander {
      border-bottom-left-radius: 200px; } }

.nav {
  padding: 2rem 0; }
  .nav__list {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .nav__list--link {
      text-decoration: none;
      font-family: inherit;
      color: inherit; }
  .nav__list-item {
    letter-spacing: 3px;
    margin-left: 2.5rem;
    color: #ffffff;
    text-transform: uppercase;
    padding: 2rem 1.5rem;
    border: 3px solid transparent;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .nav__list-item-4 {
      justify-self: flex-end;
      cursor: pointer;
      margin-left: auto;
      margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .nav__list-item-2, .nav__list-item-3 {
        display: none; } }
    @media (hover: hover) {
      .nav__list-item:hover {
        border: 3px solid #ffbf18;
        color: #ffbf18; }
      .nav__list-item:active {
        color: #091edf;
        background-color: #ffbf18;
        border: 2px solid #ffbf18; } }
    @media (hover: none) {
      .nav__list-item {
        font-weight: 600;
        font-size: 2rem;
        letter-spacing: 1px; } }

.lander__content {
  -ms-grid-row-align: center;
      align-self: center;
  margin-top: 25vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  grid-row-gap: 4rem; }
  @media (orientation: landscape) and (hover: none) {
    .lander__content {
      margin-top: 15vh; } }

.lander__title {
  color: #ffffff;
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
  @media only screen and (max-width: 50em) {
    .lander__title {
      font-size: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .lander__title {
      font-size: 6rem; } }

.lander__plus {
  background-color: #ffffff;
  border-radius: 50px;
  color: #000;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .lander__plus a {
    text-decoration: none;
    font-family: inherit;
    font-family: "Lato", sans-serif;
    color: inherit; }
  .lander__plus--icon {
    margin-left: 2rem;
    font-size: 3rem;
    color: #052e8f; }
    @media (hover: none) {
      .lander__plus--icon {
        -webkit-animation: shake 1s;
                animation: shake 1s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite; } }
  @media (hover: none) {
    .lander__plus {
      background-color: #ffbf18; } }
  @media (hover: hover) {
    .lander__plus:hover {
      background-color: #ffd21f;
      color: #000;
      -webkit-transform: translateY(-0.4rem);
              transform: translateY(-0.4rem); } }
  @media only screen and (hover: hover) and (max-width: 50em) {
    .lander__plus:hover {
      -webkit-transform: scale(0.9) translateY(-0.4rem);
              transform: scale(0.9) translateY(-0.4rem); } }
  @media (hover: hover) {
    .lander__plus:hover .lander__plus--icon {
      color: #000;
      -webkit-animation: shake 0.8s;
              animation: shake 0.8s; }
    .lander__plus:focus {
      outline: none;
      -webkit-transform: translateY(-0.1rem);
              transform: translateY(-0.1rem); } }
  @media only screen and (max-width: 50em) {
    .lander__plus {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); } }
  @media only screen and (max-width: 37.5em) {
    .lander__plus {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
      font-size: 2rem; } }

.about {
  margin: 12rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }
  .about__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about__left .about__photo {
      font-size: 25rem;
      color: #ccc; }
      @media only screen and (max-width: 50em) {
        .about__left .about__photo {
          font-size: 17rem; } }
    .about__left .about__name {
      font-size: 5rem;
      letter-spacing: 3px;
      color: #052e8f; }
    @media only screen and (max-width: 50em) {
      .about__left {
        margin-bottom: 5rem; } }
  .about__right {
    max-width: 45rem;
    font-size: 2.2rem;
    color: #777; }
  .about__back {
    position: absolute;
    font-size: 15rem;
    display: inline-block;
    opacity: 0.075;
    font-weight: 700;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%) rotate(-20deg);
            transform: translate(-50%, -50%) rotate(-20deg); }
    @media only screen and (max-width: 37.5em) {
      .about__back {
        font-size: 13rem;
        opacity: 0.1; } }
    @media only screen and (max-width: 50em) and (min-width: 37.5em) {
      .about__back {
        left: 65%;
        opacity: 0.1; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7rem 0;
  padding: 4rem 0;
  background-image: linear-gradient(105deg, rgba(9, 30, 223, 0.85) 0%, rgba(9, 30, 223, 0.85) 46%, rgba(255, 210, 31, 0.85) 46%); }
  @media only screen and (max-width: 50em) {
    .contact {
      background-color: none;
      background-image: url("../img/doctor-7.jpg"), -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.6)));
      background-image: url("../img/doctor-7.jpg"), linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6));
      background-size: cover;
      background-blend-mode: screen; } }
  @media only screen and (min-width: 62.5em) {
    .contact {
      min-height: 100vh; } }
  .contact__heading {
    font-size: 10rem;
    text-transform: uppercase;
    background-image: linear-gradient(105deg, #ffd21f 0%, #ffd21f 50.4%, #091edf 50.4%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0 0.7rem 0.8rem rgba(0, 0, 0, 0.15);
    letter-spacing: 3px;
    margin-bottom: 5rem;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .contact__heading {
        font-size: 7rem;
        text-shadow: 0 1rem 1.3rem rgba(0, 0, 0, 0.25); } }
  .contact__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .contact__card {
    border-radius: 5px;
    overflow: hidden;
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.35);
            box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.35);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact__card-img {
      height: 20rem;
      opacity: 0.3;
      width: 30rem;
      -webkit-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
      -o-object-fit: cover;
         object-fit: cover;
      background-blend-mode: hard-light; }
    .contact__card--1 {
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 191, 24, 0.85)), to(rgba(255, 191, 24, 0.3)));
      background-image: linear-gradient(to right, rgba(255, 191, 24, 0.85), rgba(255, 191, 24, 0.3)); }
    .contact__card--2 {
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(247, 178, 177, 0.85)), to(rgba(247, 178, 177, 0.3)));
      background-image: linear-gradient(to right, rgba(247, 178, 177, 0.85), rgba(247, 178, 177, 0.3)); }
    .contact__card--3 {
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(56, 207, 186, 0.85)), to(rgba(56, 207, 186, 0.3)));
      background-image: linear-gradient(to right, rgba(56, 207, 186, 0.85), rgba(56, 207, 186, 0.3)); }
    @media (hover: hover) {
      .contact__card:hover {
        -webkit-transform: scale(0.97);
                transform: scale(0.97);
        -webkit-box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.35);
                box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.35); }
      .contact__card:hover .contact__card-img {
        opacity: 0.8; } }
    .contact__card-logo {
      height: 2rem;
      width: auto;
      -webkit-transform: translateX(-2rem);
              transform: translateX(-2rem);
      color: #091edf; }
    .contact__card-info {
      list-style: none;
      background-color: #ffffff;
      padding-top: 3rem;
      min-height: 25rem;
      text-align: center;
      -ms-flex-item-align: stretch;
          -ms-grid-row-align: stretch;
          align-self: stretch; }
      .contact__card-info-item {
        border-bottom: 1px solid #ccc;
        padding: 1.5rem 0;
        font-size: 1.7rem;
        color: #777; }
    .contact__card-title {
      font-size: 2.2rem;
      position: absolute;
      top: 45%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-7deg);
              transform: translate(-50%, -50%) rotate(-7deg);
      text-transform: uppercase;
      padding: 1rem 1.5rem;
      color: #ffffff;
      -webkit-transition: -webkit-transform 0.15s;
      transition: -webkit-transform 0.15s;
      transition: transform 0.15s;
      transition: transform 0.15s, -webkit-transform 0.15s;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f7b2b1), to(#38cfba));
      background-image: linear-gradient(to bottom, #f7b2b1, #38cfba); }
      @media only screen and (max-width: 37.5em) {
        .contact__card-title {
          -webkit-transform: translate(-50%, -50%) rotate(-7deg) scale(1.1);
                  transform: translate(-50%, -50%) rotate(-7deg) scale(1.1);
          background-image: -webkit-gradient(linear, left top, right bottom, from(#f7b2b1), to(#38cfba));
          background-image: linear-gradient(to right bottom, #f7b2b1, #38cfba); } }

.section__form {
  min-height: 70vh;
  margin-bottom: 12rem; }
  .section__form-header {
    font-size: 4.5rem;
    text-align: center;
    color: #100425;
    text-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.51);
    margin-bottom: 6rem; }

.form {
  width: 60%;
  margin: 2rem 10rem;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 2rem;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content; }
  @media only screen and (max-width: 50em) {
    .form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .form__btn {
    outline: none;
    border: 3px solid #100425;
    color: #100425;
    font-size: 1.8rem;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
    font-family: inherit;
    margin-top: 4rem;
    font-family: "Lato", sans-serif;
    background-color: transparent;
    padding: 1rem 2rem;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .form__btn:hover {
      background-color: #100425;
      color: #f7b2b1; }
    @media only screen and (max-width: 62.5em) {
      .form__btn {
        -ms-flex-item-align: end;
            align-self: flex-end; } }
  .form__label {
    font-size: 1.9rem;
    color: #100425; }
  .form__input, .form__description, .form__date {
    border: 2px solid #f7b2b1;
    outline: none;
    color: #777;
    border-radius: 3px;
    padding: 1.5rem 2.5rem;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    transition: -webkit-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in, -webkit-box-shadow 0.25s ease-in;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem; }
    .form__input:focus, .form__description:focus, .form__date:focus {
      -webkit-box-shadow: 0 0.3rem 0.7rem rgba(56, 207, 186, 0.5), 0 -0.3rem 0.7rem rgba(56, 207, 186, 0.5);
              box-shadow: 0 0.3rem 0.7rem rgba(56, 207, 186, 0.5), 0 -0.3rem 0.7rem rgba(56, 207, 186, 0.5); }
  .form__date {
    padding: 3rem;
    justify-self: flex-start; }
  .form label[for="date"] {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
    @media only screen and (max-width: 50em) {
      .form label[for="date"] {
        -ms-flex-item-align: start;
            align-self: flex-start; } }
  .form input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
            appearance: textfield;
    margin: 0; }
  .form input[type="number"]::-webkit-inner-spin-button,
  .form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.btn-view {
  margin-left: 100rem; }

.footer {
  padding: 7rem;
  background-color: #100425;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    font-size: 1.7rem;
    padding: 7rem 0;
    border-bottom: 2px solid #f7b2b1; }
  .footer__item {
    color: #f7b2b1;
    cursor: pointer;
    padding: 0.5rem 1rem;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    @media (hover: hover) {
      .footer__item:hover {
        background-color: #f7b2b1;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        color: #100425;
        -webkit-transform: rotate(-7deg);
                transform: rotate(-7deg); } }
  .footer__copy {
    font-size: 1.8rem;
    color: #ffffff;
    margin-top: 5rem;
    text-align: center; }

.app {
  margin: 10rem 15rem;
  padding: 10rem 0;
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 50em) {
    .app {
      margin: 10rem 5rem; } }
  .app__header {
    font-size: 3rem;
    color: #100425;
    text-align: center;
    margin-bottom: 10rem; }
  .app__details {
    list-style: none;
    padding: 0 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media only screen and (max-width: 62.5em) {
      .app__details {
        padding: 0 5rem; } }
  .app__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3.5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 2rem; }
    .app__item .name {
      margin-right: 6rem; }
    @media only screen and (max-width: 50em) {
      .app__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid #38cfba; } }

section.application {
  display: none;
  background-color: #ffecec;
  width: 100vw;
  padding: 5rem 0;
  min-height: 75vh; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

::-webkit-scrollbar {
  display: none; }
/*# sourceMappingURL=base.css.map */