@keyframes shake {
	0% {
		color: $black-col;
	}
	15% {
		transform: rotate(-15deg) translateY(-0.2rem);
	}
	45% {
		transform: rotate(-30deg) translateY(-0.4rem);
	}
	60% {
		transform: rotate(0deg) translateY(-0.5rem);
	}
	85% {
		transform: rotate(30deg) translateY(-0.25rem);
	}
	100% {
		transform: rotate(0deg) translateY(0);
	}
}
