$blue-1: rgb(9, 30, 223);
$blue-2: rgb(5, 46, 143);
$yel-1: rgb(255, 191, 24);
$yel-2: rgb(255, 210, 31);
$melon: rgb(247, 178, 177);
$sea-blue: rgb(56, 207, 186);
$white-col: #fff;
$black-col: #000;
$grey-col: #777;
$light-grey: #ccc;
$dark-violet: #10002b;
